In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_ini = pd.read_csv('C:/Users/Keven/Desktop/RIMAC_CHALLENGE/DS_Generados/BD_ProcDatos_Parte_01.txt', 
                          sep = ',', encoding='latin-1')

In [3]:
dataset_ini.head()

,PERIODO,NSE_RIMAC,NUM_PRODUCTOS,SEGMENTO_INTERNO,OK,CPP,DEFICIENTE,DUDOSO,PERDIDA,DEUDA_HIINI,...,TIPCASO.RN_DESCRIPTOR_noveh_Disconformidades,TIPCASO.RN_DESCRIPTOR_noveh_Emergencia,TIPCASO.RN_DESCRIPTOR_noveh_Fidelizacion,TIPCASO.RN_DESCRIPTOR_noveh_Operacion,TIPCASO.RN_DESCRIPTOR_noveh_Operaciones,TIPCASO.RN_DESCRIPTOR_noveh_Reclamo,TIPCASO.RN_DESCRIPTOR_noveh_Relacionamiento,TIPCASO.RN_DESCRIPTOR_noveh_Requerimientos,TIPCASO.RN_DESCRIPTOR_noveh_Solicitud,TIPCASO.RN_DESCRIPTOR_noveh_Sugerencias
0,201303,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,201304,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,201305,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,201306,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,201307,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(dataset_ini)

1807616

In [5]:
bd_cobranzas_proc = pd.read_csv('C:/Users/Keven/Desktop/RIMAC_CHALLENGE/DS_Generados/BD_Cobranza_ProcDatos_01.txt', 
                                sep = ',', encoding='latin-1')

In [6]:
bd_cobranzas_proc.head()

   PERIODO  NUM_FACTURAS  MONTO_DOLARES         CUC  P_AUTO
0   201404           1.0          826.0  4-33334660  G8T792
1   201405           1.0          826.0  4-33334660  G8T792
2   201406           1.0          826.0  4-33334660  G8T792
3   201304           1.0          182.0  4-33344342  G4J803
4   201305           1.0          178.0  4-33344342  G4J803

In [7]:
homologador_fechas = pd.read_csv('C:/Users/Keven/Desktop/RIMAC_CHALLENGE/homologador.csv', sep = ',')

In [8]:
homologador_fechas.head()

   PERIODO  NUMEROS
0   201301        1
1   201302        2
2   201303        3
3   201304        4
4   201305        5

In [9]:
dataset_ini.columns

Index(['PERIODO', 'NSE_RIMAC', 'NUM_PRODUCTOS', 'SEGMENTO_INTERNO', 'OK',
       'CPP', 'DEFICIENTE', 'DUDOSO', 'PERDIDA', 'DEUDA_HIINI', 'SALDO_SBS',
       'SALDO_TC_SBS', 'SALDO_VEH_SBS', 'SALDO_HIP_SBS', 'SALDO_PP_SBS',
       'SALDO_MICRO_SBS', 'SALDO_PEQUENA_SBS', 'SALDO_OTROS', 'PRIMA_TOTAL',
       'PRIMA', 'CANALDES', 'CLASEVEHDES', 'MARCAVEHDES', 'USOVEHDES',
       'ANOFABRIC', 'SUMASEG', 'NRO_SINIESTROS', 'MTO_SINIESTROS', 'FECHA_FIN',
       'FECHA_INICIO', 'CUC', 'P_AUTO', 'ID_UNICO', 'ID_POLIZA',
       'Flag_Bancari', 'SEXO', 'FEC_NACIMIENTO', 'UBICACION', 'DEPARTAMENTO',
       'UBIGEO', 'NUM_FACTURAS', 'MONTO_DOLARES',
       'TIPCASO.RN_DESCRIPTOR_VEH_Atenciones',
       'TIPCASO.RN_DESCRIPTOR_VEH_Consulta',
       'TIPCASO.RN_DESCRIPTOR_VEH_Disconformidades',
       'TIPCASO.RN_DESCRIPTOR_VEH_Emergencia',
       'TIPCASO.RN_DESCRIPTOR_VEH_Fidelizacion',
       'TIPCASO.RN_DESCRIPTOR_VEH_Operacion',
       'TIPCASO.RN_DESCRIPTOR_VEH_Operaciones',
       'TIPCASO.RN_DESCRIPTOR_VEH_Reclamo',
       'TIPCASO.RN_DESCRIPTOR_VEH_Relacionamiento',
       'TIPCASO.RN_DESCRIPTOR_VEH_Requerimientos',
       'TIPCASO.RN_DESCRIPTOR_VEH_Solicitud',
       'TIPCASO.RN_DESCRIPTOR_VEH_Sugerencias',
       'TIPCASO.RN_DESCRIPTOR_noveh_Atenciones',
       'TIPCASO.RN_DESCRIPTOR_noveh_Consulta',
       'TIPCASO.RN_DESCRIPTOR_noveh_Disconformidades',
       'TIPCASO.RN_DESCRIPTOR_noveh_Emergencia',
       'TIPCASO.RN_DESCRIPTOR_noveh_Fidelizacion',
       'TIPCASO.RN_DESCRIPTOR_noveh_Operacion',
       'TIPCASO.RN_DESCRIPTOR_noveh_Operaciones',
       'TIPCASO.RN_DESCRIPTOR_noveh_Reclamo',
       'TIPCASO.RN_DESCRIPTOR_noveh_Relacionamiento',
       'TIPCASO.RN_DESCRIPTOR_noveh_Requerimientos',
       'TIPCASO.RN_DESCRIPTOR_noveh_Solicitud',
       'TIPCASO.RN_DESCRIPTOR_noveh_Sugerencias'],
      dtype='object')

## Procesamiento Parte 2

In [10]:
tabla_veh_temp = dataset_ini[['PERIODO','CUC', 'P_AUTO']]

In [11]:
tabla_veh_temp = pd.merge(tabla_veh_temp, homologador_fechas, how="left", on = ['PERIODO'])
tabla_veh_temp.head()

   PERIODO         CUC  P_AUTO  NUMEROS
0   201303  4-33334660  G8T792        3
1   201304  4-33334660  G8T792        4
2   201305  4-33334660  G8T792        5
3   201306  4-33334660  G8T792        6
4   201307  4-33334660  G8T792        7

In [12]:
tabla_cobranzas_temp = bd_cobranzas_proc[['PERIODO','CUC','P_AUTO','NUM_FACTURAS', 'MONTO_DOLARES']]
tabla_cobranzas_temp.head()

   PERIODO         CUC  P_AUTO  NUM_FACTURAS  MONTO_DOLARES
0   201404  4-33334660  G8T792           1.0          826.0
1   201405  4-33334660  G8T792           1.0          826.0
2   201406  4-33334660  G8T792           1.0          826.0
3   201304  4-33344342  G4J803           1.0          182.0
4   201305  4-33344342  G4J803           1.0          178.0

In [13]:
tabla_cobranzas_temp = pd.merge(tabla_cobranzas_temp, homologador_fechas, how="left", on = ['PERIODO'])
tabla_cobranzas_temp.head()

   PERIODO         CUC  P_AUTO  NUM_FACTURAS  MONTO_DOLARES  NUMEROS
0   201404  4-33334660  G8T792           1.0          826.0       16
1   201405  4-33334660  G8T792           1.0          826.0       17
2   201406  4-33334660  G8T792           1.0          826.0       18
3   201304  4-33344342  G4J803           1.0          182.0        4
4   201305  4-33344342  G4J803           1.0          178.0        5

## Generar Historico No pagos

In [14]:
rango = range(1,10)
for i in rango:
    numeros='NUMEROS_0'+str(i)
    tabla_veh_temp[numeros] = tabla_veh_temp['NUMEROS'] - i
    dataset = pd.merge(tabla_veh_temp, tabla_cobranzas_temp, how="left", left_on = ["CUC","P_AUTO",numeros], right_on = ["CUC","P_AUTO","NUMEROS"],suffixes = ('','_y'))
    monto_dolares = 'MONTO_DOLARES_0'+str(i)
    num_facturas = 'NUM_FACTURAS_0'+ str(i)
    tabla_veh_temp[monto_dolares] = dataset['MONTO_DOLARES']
    tabla_veh_temp[num_facturas] = dataset['NUM_FACTURAS']

In [15]:
list(tabla_veh_temp.columns)

['PERIODO',
 'CUC',
 'P_AUTO',
 'NUMEROS',
 'NUMEROS_01',
 'MONTO_DOLARES_01',
 'NUM_FACTURAS_01',
 'NUMEROS_02',
 'MONTO_DOLARES_02',
 'NUM_FACTURAS_02',
 'NUMEROS_03',
 'MONTO_DOLARES_03',
 'NUM_FACTURAS_03',
 'NUMEROS_04',
 'MONTO_DOLARES_04',
 'NUM_FACTURAS_04',
 'NUMEROS_05',
 'MONTO_DOLARES_05',
 'NUM_FACTURAS_05',
 'NUMEROS_06',
 'MONTO_DOLARES_06',
 'NUM_FACTURAS_06',
 'NUMEROS_07',
 'MONTO_DOLARES_07',
 'NUM_FACTURAS_07',
 'NUMEROS_08',
 'MONTO_DOLARES_08',
 'NUM_FACTURAS_08',
 'NUMEROS_09',
 'MONTO_DOLARES_09',
 'NUM_FACTURAS_09']

In [16]:
var_select_t = ['PERIODO',
 'CUC',
 'P_AUTO',
 'MONTO_DOLARES_01',
 'NUM_FACTURAS_01',
 'MONTO_DOLARES_02',
 'NUM_FACTURAS_02',
 'MONTO_DOLARES_03',
 'NUM_FACTURAS_03',
 'MONTO_DOLARES_04',
 'NUM_FACTURAS_04',
 'MONTO_DOLARES_05',
 'NUM_FACTURAS_05',
 'MONTO_DOLARES_06',
 'NUM_FACTURAS_06',
 'MONTO_DOLARES_07',
 'NUM_FACTURAS_07',
 'MONTO_DOLARES_08',
 'NUM_FACTURAS_08',
 'MONTO_DOLARES_09',
 'NUM_FACTURAS_09']

In [17]:
tabla_veh_temp = tabla_veh_temp[var_select_t]

In [18]:
tabla_veh_temp.isnull().sum()

PERIODO                   0
CUC                       0
P_AUTO                    0
MONTO_DOLARES_01    1510424
NUM_FACTURAS_01     1510424
MONTO_DOLARES_02    1540345
NUM_FACTURAS_02     1540345
MONTO_DOLARES_03    1568729
NUM_FACTURAS_03     1568729
MONTO_DOLARES_04    1583547
NUM_FACTURAS_04     1583547
MONTO_DOLARES_05    1595804
NUM_FACTURAS_05     1595804
MONTO_DOLARES_06    1609660
NUM_FACTURAS_06     1609660
MONTO_DOLARES_07    1624590
NUM_FACTURAS_07     1624590
MONTO_DOLARES_08    1640827
NUM_FACTURAS_08     1640827
MONTO_DOLARES_09    1660674
NUM_FACTURAS_09     1660674
dtype: int64

In [19]:
var_select_t2 = [
 'NUM_FACTURAS_01',
 'NUM_FACTURAS_02',
 'NUM_FACTURAS_03',
 'NUM_FACTURAS_04',
 'NUM_FACTURAS_05',
 'NUM_FACTURAS_06',
 'NUM_FACTURAS_07',
 'NUM_FACTURAS_08',
 'NUM_FACTURAS_09',
 'MONTO_DOLARES_01',
 'MONTO_DOLARES_02',
 'MONTO_DOLARES_03',
 'MONTO_DOLARES_04',
 'MONTO_DOLARES_05',
 'MONTO_DOLARES_06',
 'MONTO_DOLARES_07',
 'MONTO_DOLARES_08',
 'MONTO_DOLARES_09']

In [20]:
for var in var_select_t2:
    tabla_veh_temp[var].fillna(0, inplace=True)

In [21]:
tabla_veh_temp.head()

,PERIODO,CUC,P_AUTO,MONTO_DOLARES_01,NUM_FACTURAS_01,MONTO_DOLARES_02,NUM_FACTURAS_02,MONTO_DOLARES_03,NUM_FACTURAS_03,MONTO_DOLARES_04,...,MONTO_DOLARES_05,NUM_FACTURAS_05,MONTO_DOLARES_06,NUM_FACTURAS_06,MONTO_DOLARES_07,NUM_FACTURAS_07,MONTO_DOLARES_08,NUM_FACTURAS_08,MONTO_DOLARES_09,NUM_FACTURAS_09
0,201303,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201304,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201305,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,201306,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,201307,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

for feature in var_select_t2:
    print("-------------------------------------------------------------------------------")
    print(tabla_veh_temp.groupby(feature, axis = 0)[feature].count().sort_values(ascending = False))

In [22]:
len(tabla_veh_temp)

1807616

In [23]:
train_pf = pd.merge(dataset_ini, tabla_veh_temp, how="left", on = ['PERIODO','CUC','P_AUTO'])

In [24]:
train_pf.head()

,PERIODO,NSE_RIMAC,NUM_PRODUCTOS,SEGMENTO_INTERNO,OK,CPP,DEFICIENTE,DUDOSO,PERDIDA,DEUDA_HIINI,...,MONTO_DOLARES_05,NUM_FACTURAS_05,MONTO_DOLARES_06,NUM_FACTURAS_06,MONTO_DOLARES_07,NUM_FACTURAS_07,MONTO_DOLARES_08,NUM_FACTURAS_08,MONTO_DOLARES_09,NUM_FACTURAS_09
0,201303,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201304,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201305,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,201306,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,201307,C2,1.0,6.MASIVO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Generar Taget

In [25]:
tabla_veh_temp = pd.merge(tabla_veh_temp, homologador_fechas, how="left", on = ['PERIODO'])
tabla_veh_temp.head()

,PERIODO,CUC,P_AUTO,MONTO_DOLARES_01,NUM_FACTURAS_01,MONTO_DOLARES_02,NUM_FACTURAS_02,MONTO_DOLARES_03,NUM_FACTURAS_03,MONTO_DOLARES_04,...,NUM_FACTURAS_05,MONTO_DOLARES_06,NUM_FACTURAS_06,MONTO_DOLARES_07,NUM_FACTURAS_07,MONTO_DOLARES_08,NUM_FACTURAS_08,MONTO_DOLARES_09,NUM_FACTURAS_09,NUMEROS
0,201303,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3
1,201304,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
2,201305,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5
3,201306,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
4,201307,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7

In [26]:
tabla_veh_temp.columns

Index(['PERIODO', 'CUC', 'P_AUTO', 'MONTO_DOLARES_01', 'NUM_FACTURAS_01',
       'MONTO_DOLARES_02', 'NUM_FACTURAS_02', 'MONTO_DOLARES_03',
       'NUM_FACTURAS_03', 'MONTO_DOLARES_04', 'NUM_FACTURAS_04',
       'MONTO_DOLARES_05', 'NUM_FACTURAS_05', 'MONTO_DOLARES_06',
       'NUM_FACTURAS_06', 'MONTO_DOLARES_07', 'NUM_FACTURAS_07',
       'MONTO_DOLARES_08', 'NUM_FACTURAS_08', 'MONTO_DOLARES_09',
       'NUM_FACTURAS_09', 'NUMEROS'],
      dtype='object')

In [27]:
tabla_veh_temp['NUMEROS'] = tabla_veh_temp['NUMEROS'] + 1

In [28]:
temp = pd.merge(tabla_veh_temp, tabla_cobranzas_temp, how="left", on = ['NUMEROS','CUC','P_AUTO'])

In [29]:
temp.head()

,PERIODO_x,CUC,P_AUTO,MONTO_DOLARES_01,NUM_FACTURAS_01,MONTO_DOLARES_02,NUM_FACTURAS_02,MONTO_DOLARES_03,NUM_FACTURAS_03,MONTO_DOLARES_04,...,MONTO_DOLARES_07,NUM_FACTURAS_07,MONTO_DOLARES_08,NUM_FACTURAS_08,MONTO_DOLARES_09,NUM_FACTURAS_09,NUMEROS,PERIODO_y,NUM_FACTURAS,MONTO_DOLARES
0,201303,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4,NaN,NaN,NaN
1,201304,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5,NaN,NaN,NaN
2,201305,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,6,NaN,NaN,NaN
3,201306,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,7,NaN,NaN,NaN
4,201307,4-33334660,G8T792,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8,NaN,NaN,NaN

In [30]:
temp = temp[['PERIODO_x','CUC','P_AUTO','NUM_FACTURAS']]

In [31]:
temp.columns

Index(['PERIODO_x', 'CUC', 'P_AUTO', 'NUM_FACTURAS'], dtype='object')

In [32]:
temp.rename(columns={'PERIODO_x':'PERIODO', 'NUM_FACTURAS': 'TARGET_NUM_FACTURAS'}, inplace=True)

In [33]:
temp.columns

Index(['PERIODO', 'CUC', 'P_AUTO', 'TARGET_NUM_FACTURAS'], dtype='object')

In [34]:
temp.loc[(temp['TARGET_NUM_FACTURAS'].isnull()),"TARGET"] = 0
temp.loc[(-temp['TARGET_NUM_FACTURAS'].isnull()),"TARGET"] = 1

In [35]:
# Falta unir al Gran Dataset

In [36]:
train = pd.merge(train_pf, temp[['PERIODO','CUC','P_AUTO','TARGET']], how="left", on = ['PERIODO','CUC','P_AUTO'])

## Descripciones Data Train

In [37]:
len(train)

1807616

In [38]:
train.to_csv("C:/Users/Keven/Desktop/RIMAC_CHALLENGE/DS_Generados/BD_Cobranza_ProcDatos_02.txt", sep = ',', index = False)